{{!-- 新增餐廳頁面 --}}
<h1 class="position-absolute top-50 start-50 translate-middle text-white ">
  <p class="d-flex justify-content-center">新增餐廳資訊</p>
  <p class="d-flex justify-content-center">Add New Restaurant</p>
</h1>
<div class="container">
  <form action="/restaurants/new" method="POST" style="display: inline;" class="d-flex justify-content-center">
    <div class="row col-6 mt-3">
      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">餐廳名稱</span>
        <input type="text" class="form-control" placeholder="請輸入餐廳名稱" aria-label="RestaurantName"
          aria-describedby="basic-addon1" name="name" required>
      </div>     
      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">餐廳英文名稱</span>
        <input type="text" class="form-control" placeholder="Restaurant En name" aria-label="Username"
          aria-describedby="basic-addon1" for="validationCustom01" name="name_en" required>
      </div>
      <div class="input-group my-3">
        <label class="input-group-text" for="inputGroupSelect01 ">類別</label>
        <select class="form-select" id="inputGroupSelect01" name="category">

          <option selected>Choose...</option>
          {{#each categories}}
          <option value="{{this.name}}">{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">地址</span>
        <textarea class="form-control" aria-label="With textarea" placeholder="請輸入地址" name="location"></textarea>
      </div>
      <div class="input-group my-3">
        <span class="input-group-text" id="basic-addon1">電話</span>
        <input type="number" class="form-control" placeholder="請輸入電話號碼" aria-label="phoneNumber"
          aria-describedby="basic-addon1" name="phone">
      </div>
      <div class="input-group my-3">
        <span class="input-group-text">簡介</span>
        <textarea class="form-control" aria-label="With textarea" placeholder="請輸入餐廳簡介" name="description"></textarea>
      </div>
  </form>
  <div class="my-3">
    <button type="submit" class="btn btn-outline-secondary" style="width:100%">
      新增
    </button>
  </div>
</div>

</div>